/* Branch Styles Page */

/* BranchList */
.games-section {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.games-section h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.games-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.link_cardBranch {
  text-decoration: none;
  color: #333;
}

.cardBranch {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cardBranch:hover {
  transform: scale(1.05);
}

.cardBranch img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.branch {
  font-size: 18px;
  margin-top: 10px;
}
